.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.top-component {
  background-color: lightblue;
  padding: 20px;
}

.left-right-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.left-component,
.right-component,
.center-component {
  flex: 1;
  padding: 20px;
}

.left-component {
  flex: 1;
  background-color: lightgreen;
}

.right-component {
  flex: 1;
  background-color: lightyellow;
}

.center-component {
  flex: 2;
  background-color: lightgray;
}

.footer-component {
  background-color: lightpink;
  padding: 20px;
}

.button {
  width: 200px; /* */
  margin: 20px;
}

